#6. List comprehension: Given two lists of equal length, list1 contains the integers and list2 contains alphabets. Using list comprehension, WAP

###a) To generate a list containing the squares of elements from list1.

In [5]:
list1 = [2 , 5 , 7 , 8 , 9 ,10 , 23]
list2 = ['v', 'i', 'n','o','d', 'k', 'm']
square = [ele**2 for ele in list1]
print(square)

[4, 25, 49, 64, 81, 100, 529]

###b) To generate a list containing pairwise corresponding elements in the form of tuple.

In [ ]:
list1 = [2 , 5 , 7 , 8 , 9 ,10 , 23]
list2 = ['v', 'i', 'n','o','d', 'k', 'm']
list3 = [ele for ele in zip(list1,list2)]
print(list3)

[(2, 'v'), (5, 'i'), (7, 'n'), (8, 'o'), (9, 'd'), (10, 'k'), (23, 'm')]

###c) To generate a list containing all possible combinations of elements from the two lists.

In [ ]:
list1 = [1 , 2 , 3]
list2 = ['a', 'b', 'c']
list3 = [(ele1 , ele2) for ele1 in list1 for ele2 in list2]
print(list3)

[(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

###d) To generate a list containing elements of list1 and list2 alternatively.

In [ ]:
list1 = [1 , 2 , 3]
list2 = ['a', 'b', 'c']
list3 = [ele1 for ele2 in zip(list1, list2) for ele1 in ele2]
print(list3)

[1, 'a', 2, 'b', 3, 'c']

##7. Find out the applicable methods for the list but not tuples. List them out.




### Giving some examples below.

In [ ]:
list1 = [1,2,3,4,5,6,7]
tuple1 = (8,9,10,11,12,13,14)
list1.append(15)
print(list1)
tuple1.append(15)
print(tuple1)

[1, 2, 3, 4, 5, 6, 7, 15]

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
list1 = [1,2,3,4,5,6,7]
tuple1 = (8,9,10,11,12,13,14)
list1.extend(tuple1)
print(list1)
tuple1.extend(tuple1)
print(tuple1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

AttributeError: 'tuple' object has no attribute 'extend'

##8. Write a code snippet in Python that takes a string as input and returns a tuple of tuples. Each inner tuple should contain a character from the input string and its corresponding ASCII value.

In [7]:
string = "Vinod Kumar"
ascii_tuples = tuple((char, ord(char)) for char in string)
print(ascii_tuples)

(('V', 86), ('i', 105), ('n', 110), ('o', 111), ('d', 100), (' ', 32), ('K', 75), ('u', 117), ('m', 109), ('a', 97), ('r', 114))

##9. Create a program that takes a list of tuples containing student name and roll number and returns a new list of tuples containing only those tuples whose first element is a vowel (a, e, i, o, u, A, E, I, O, U).

In [6]:
name_roll = [('Vinod', 26), ('Prabhat', 17), ('Aman', 16)]
vowels = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']
output = [tup for tup in name_roll if tup[0][0] in vowels]
print(output)

[('Aman', 16)]

##10.  Create a set of all numbers between 1 and 20 that are either divisible by 3 or 5, using set comprehension.

In [3]:
set1 = {num for num in range(1,21) if num%3==0 or num%5==0}
print(set1)

{3, 5, 6, 9, 10, 12, 15, 18, 20}