1. Explore the use and syntax of common built-in functions:

    range(),

    iter(),

    eval(),

    enumerate(),

    zip(),

    lambda,

    input(),

    map(),

    filter(),

    next()

    reduce()

Include a short description and a practical code example for each, ensuring clarity through comments.

In [109]:
# Generate numbers from 0 to 9 with step 2
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

In [6]:
lis1 = [1, 2, 3, 4, 5]
# converting list using iter()
lis1 = iter(lis1)
print("Values at 1st iteration : ")
for i in range(0, 5):
    print(next(lis1))

Values at 1st iteration :
1
2
3
4
5

In [7]:
#The eval(): Evaluates the specified expression, if the expression is a legal Python statement, it will be executed.
x = 'print(55)'
eval(x)

55

In [14]:
l1 = ["IIT", "Madras", "M.Tech"]
s1 = "Vinod"

# creating enumerate objects
obj1 = enumerate(l1)
obj2 = enumerate(s1)

print ("Return type:", type(obj1))
print (list(enumerate(l1)))

# changing start index to 2 from 0
print (list(enumerate(s1, 2)))

Return type: <class 'enumerate'>
[(0, 'IIT'), (1, 'Madras'), (2, 'M.Tech')]
[(2, 'V'), (3, 'i'), (4, 'n'), (5, 'o'), (6, 'd')]

In [15]:
a = ("Vinod", "Pinki", "Prabhat")
b = ("Male", "Female", "Male")

x = zip(a, b)
print(tuple(x))

(('Vinod', 'Male'), ('Pinki', 'Female'), ('Prabhat', 'Male'))

In [17]:
#A lambda function can take any number of arguments, but can only have one expression.
x = lambda y : y + 10
print(x(5))

15

In [19]:
inp = input("Enter the input : ")
print(inp)

Enter the input : 23456
23456

In [20]:
# List of strings
l = ['sat', 'bat', 'cat', 'mat']

# map() can listify the list of strings individually
test = list(map(list, l))
print(test)

[['s', 'a', 't'], ['b', 'a', 't'], ['c', 'a', 't'], ['m', 'a', 't']]

In [21]:
#The filter(): Returns an iterator where the items are filtered through a function to test if the item is accepted or not.
seq = [0, 1, 2, 3, 5, 8, 13]

# result contains odd numbers of the list
result = filter(lambda x: x % 2 != 0, seq)
print(list(result))

# result contains even numbers of the list
result = filter(lambda x: x % 2 == 0, seq)
print(list(result))

[1, 3, 5, 13]
[0, 2, 8]

In [28]:
#The next() function returns the next item in an iterator.
mylist = iter(["apple", "banana", "cherry"])
x = next(mylist)
print(x)
x = next(mylist)
print(x)
x = next(mylist)
print(x)

apple
banana
cherry

In [124]:
#reduce(function, iterable, initializer=None):
#Description: Applies a rolling computation to sequential pairs of values in the iterable, using the function.

from functools import reduce
numbers = [1, 2, 3, 4, 5]
product = reduce(lambda x, y: x * y, numbers)
print(product)

120

#(2) Write a Python function that sorts a dictionary based on the length of values.

Sample:

Input: {'lemon':'yellow','apple':'red'}

output: {'apple':'red','lemon':'yellow'}

In [31]:
def sort_dict(input_dict):
    def value_length(item):
        return len(item[1])

    sorted_dict = dict(sorted(input_dict.items(), key=value_length))
    return sorted_dict

input_dict = {'lemon': 'yellow', 'apple': 'red'}
sorted_dict = sort_dict(input_dict)
print(sorted_dict)

{'apple': 'red', 'lemon': 'yellow'}

##(3) Develop a Python program that executes the following tasks with a user-provided string:

###(a). Prompt the user to input the string

###(b). Create a dictionary from the string where each key is a unique alphabet character and the corresponding value is the frequency of that character's occurrence in the string.

In [116]:
str1 = str(input("Enter the String : "))

freq = {}
for i in str1:
    if i in freq:
        freq[i] += 1
    else:
        freq[i] = 1
print("Count of all characters in " ,str1 ," is :\n ",freq)

Enter the String : google
Count of all characters in  google  is :
  {'g': 2, 'o': 2, 'l': 1, 'e': 1}

###(c). Generate a sorted list of tuples from the dictionary based on character frequency (values).

In [121]:
sort_freq = list(sorted(freq.items(), key=lambda x:-(x[1])))
print(sort_freq)

[('g', 2), ('o', 2), ('l', 1), ('e', 1)]


###(d). Generate a sorted list of tuples from the dictionary based on the alphabet characters (keys).

In [126]:
sort_freq = list(sorted(freq.items(), key=lambda x:x[0]))
print(sort_freq)

[('e', 1), ('g', 2), ('l', 1), ('o', 2)]

###(e). Identify the three most frequently occurring characters. In the event of a frequency tie, prioritize characters in lexicographical order.

Your program should showcase proficiency in dictionary operations, sorting mechanisms, and handling of ties in frequency counts. Comment your code to outline the process and decisions made.

sample:

input = 'GOOGLE'

Here, the most repeated characters are G:2, O:2. But, L,E are occurring only a single time which is tied for the third position here, so here we take E as it comes first in the lexicographical order.

In [119]:
sort_freq = list(sorted(freq.items(), key=lambda x:(-x[1],x[0])))
print(sort_freq[:3])

[('g', 2), ('o', 2), ('e', 1)]

###(4). Write a function called lookup_student that takes a dictionary representing student records, where names are keys and roll numbers are values. The function should search for a specified student name and return the corresponding roll number if found; otherwise, it should return "Not Found"

Example:

records = { "Alice" : "AB111", "Bob" : "EE200", "David" : "XY333"}

print(lookup_student(records, "Bob")) : Should print "EE200"

print(lookup_student(records, "John")) : Should print "Not Found"

In [108]:
def lookup_student(records, student_name):
    return records.get(student_name, "Not Found")

records = {"Alice": "AB111", "Bob": "EE200", "David": "XY333"}
print(lookup_student(records, "Bob"))
print(lookup_student(records, "John"))

EE200
Not Found

##(5). Given a list of integers, write a Python program to:

###(a) Find the frequency of each integer in the list and store the result in a dictionary.

In [83]:
test_list = [4, 6, 8, 9, 9, 1, 4, 6, 2, 5, 6, 3]
print("The original list : " ,test_list)
res = {key: test_list.count(key) for key in test_list}
print("Lists elements Frequency : " ,res)

The original list :  [4, 6, 8, 9, 9, 1, 4, 6, 2, 5, 6, 3]
Lists elements Frequency :  {4: 2, 6: 3, 8: 1, 9: 2, 1: 1, 2: 1, 5: 1, 3: 1}

###(b) Print the maximum integer and its frequency.

In [84]:
print(max(res.keys())," : ",res[max(res.keys())])

9  :  2

###(c) Remove duplicates from the list and print the new list without changing the order of elements. Do this operation without using the set data type.

In [85]:
unique_list = []
for num in test_list:
    if num not in unique_list:
        unique_list.append(num)
print("List without duplicates without using set : ", unique_list)

List without duplicates without using set :  [4, 6, 8, 9, 1, 2, 5, 3]

###(d) Remove duplicates from the list and print the new list. Do this operation using the set data type.

In [86]:
print("List without duplicates using set : ",list(set(test_list)))

List without duplicates using set :  [1, 2, 3, 4, 5, 6, 8, 9]